body {
    margin: 0;
    overflow-x: hidden;
}

.content-footer {
    padding: 0px 200px 0px 200px;
}

footer {
    background-color: #263238;
    padding: 20px;
    bottom: 0;
    width: 100%;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer-text {
    margin: 0;
    color: #ffffff;
    text-align: center;
    padding: 0px 200px 0px 200px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.footer-column {
    flex: 1;
    padding: 0 20px;
}

.footer-column h4 {
    color: #ffffff;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column li {
    margin-bottom: 10px;
    color: #ffffff;
}

footer {
    background-color: #263238;
    padding: 20px;
    bottom: 0;
    width: 100%;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer-text {
    margin: 0;
    color: #ffffff;
    text-align: center;
    padding: 0px 200px 0px 200px;
}
